<div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">sous-Titre</h6>
                <p class="card-text"> Details en paragraphe </p>
                <a href=" " class="card-link">Détails</a>
                <a href="" class="card-link">Delete</a>
                <a href="" class="card-link">Edit</a></div>
        </div>
</div>