{% extends 'template.html.twig' %}
{% block pageTitle %}
    Etudiants
{% endblock %}
{% block title %}
liste des etudiants
{% endblock %}
{% block body %}
    <table class="table">
        <tr class="table-active">
            <th>Firstname</th>
            <th>Name</th>
            <th>Section</th>
        </tr>
        {% for etudiant in etudiants %}
            <tr class="table-{% if loop.index is odd %}danger{% else %}warning{% endif %}">
                <td>{{ etudiant.firstname | capitalize }}</td>
                <td>{{ etudiant.name | capitalize }}</td>
                <td>{% if etudiant.section %}{{etudiant.section }}{% else %}Etudiant pas encore affecté{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
